#UserParameter=check.mount[*],/etc/zabbix/scripts/check_mount.sh
UserParameter=efs.space.used,/etc/zabbix/scripts/check_efs_space.sh
UserParameter=get.zabbix.hostname,/etc/zabbix/scripts/get_zabbix_hostname.sh

